*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 40px;
  font-family: monospace;
}

img {
  max-width: 100%;
}

.picture {
  display: inline-block;
  width: 300px;
}

.big_picture {
  display: inline-block;
  text-align: center;
}

.gallery {
  margin: 20px;
  text-align: center;
}

.gallery h1 {
  text-align: left;
}

header h1, header h2 {
  text-align: center;
  margin: 0;
}

header {
  margin: 20px 0px;
}

button {
  padding: 5px;
}

button a {
  color: black;
  text-decoration: none;
  font-weight: bold;
}

.logo {
  width: 150px;
  margin: auto;
}


.flash {
  position: relative;
  font-size: 19px;
  top: 10px;
  left: 6px;
  color: white;
  font-weight: bolder;
}
  header .logo:hover .flash {
      color: gold;
  }
  header .logo:active .flash {
      color: white;
  }

.new_picture_button {
  text-align: right;
  padding-right: 90px;
}

/* --------------PICTURE SHOW PAGE -------------------- */

.show_picture {
  text-align: center;
  margin: 40px 0px;
}

.show_picture h2, .show_picture h3 {
  text-align: left;
}

.show_picture h2 {
  font-size: 30px;
}

.show_picture h3 {
  padding-left: 25px;
  font-size: 20px;
}

.big_picture p {
  margin-top: 50px;
  text-align: left;
}
